/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'eenfont';
	src: url('../fonts/eenfont.woff2') format('woff2'),
		url('../fonts/eenfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

button:not(:disabled),
summary {
	cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #000000;
	--color-background: #BFBFBF;
	--color-pink: #F2A2A2;
	--color-white: #ffffff;
	--color-scrollbar-track: #9a9a9a;
	--color-scrollbar-thumb-hover: #555;
}

/****************/
/* JOUW STYLING */
/****************/
* {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--color-background);
	text-align: center;
	font-family: 'Poppins', sans-serif;
	overflow: hidden;
}

/*navigatie*/
nav {
	background-color: var(--color-pink);
	padding: 1em;
}

li {
	color: var(--color-text);
	font-size: 1.2em;
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

li:first-child {
	margin-right: auto;
}

/*text styling*/
h1 {
	font-size: 1.7em;
	margin: 0.5em;
	color: var(--color-text);
}

p {
	font-size: 1.3em;
	margin-bottom: 1em;
	color: var(--color-text);
}

#contentbutton {
	width: 15em;
	height: 2em;
	font-size: 1.5em;
	margin: 1.7em 1.7em 1em 1.7em;
	color: var(--color-text);
	background-color: var(--color-pink);
	border-radius: 20px;
	border: none;

	transition: ease 0.3s;
}

#contentbutton:hover {
	background-color: var(--color-scrollbar-thumb-hover);
	color: var(--color-pink);
}

#contentbox {
	max-width: 44.5em;
	max-height: 41em;
	margin: auto;
	display: grid;
	grid-template-columns: 17em 17em;
	grid-template-rows: 18em 18em;
	column-gap: 5.5em;
	row-gap: 4.5em;
	overflow: scroll;

	/*haalt horizontale scrollbar weg */
	overflow-x: hidden;

}

/*Styling verticale scrollbars*/
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: var(--color-scrollbar-track);
}

::-webkit-scrollbar-thumb {
	background: var(--color-pink);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--color-scrollbar-thumb-hover);
}


img {
	/*Maakt de foto's allemaal dezelfde grootte en zorgt ervoor dat de foto's niet vervormd worden*/
	width: 18em;
	height: 18em;
	object-fit: cover;
}

section {
	/*Zorgt ervoor dat het hamburgermenu aan de rechterkant staat*/
	position: fixed;
	top: 0;
	right: 0;

	height: 100%;
	padding: 1em 2.5em 1em 1em;

	background-color: var(--color-white);

	visibility: hidden;

	overflow: scroll;
	overflow-x: hidden;

	/*Zet het kruisje aan de rechter kant*/
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}

section ul {
	/*Zorgt ervoor dat de foto's in het favo lijstje in een grid staan*/
	display: grid;
	grid-template-columns: 20em 20em;
	grid-template-rows: 20em 20em;
	gap: 2em;
}

section>ul:empty::after {
	/*Zorgt ervoor dat het menu rechts tevoorschijn komt, de tekst in het midden van het lege favo lijstje staat en dat de tekst niet breder kan worden dan 16 em*/
	content: "sleep je favo foto's naar dit lijstje";
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	max-width: 16em;
}

#favobutton {
	margin: 0;
	height: 1.5em;
	width: 7em;
	font-size: 1.2em;
	color: var(--color-text);
	background-color: var(--color-pink);
	border: none;
}

#hamburgersluiten {
	background: var(--color-white);
	border: none;
}

#hamburgersluiten img {
	width: 1em;
	height: 1em;
}

/*Animatie voor het verwijderen van de foto's*/
.vliegweg {
	animation: vliegweg 3s;
}

@keyframes vliegweg {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(-150vw, -150vh) rotateZ(5000deg);
	}
}

/*zorgt voor responsiveness*/
@media(max-width: 1500px) {
	section {
		width: 24em;
		padding: 1em;
		padding-right: 3.5em;
	}

	section ul {
		display: block;
		width: 19em;
		height: 19em;
	}

}

@media (max-width: 720px) {

	#contentbox {
		display: block;
		max-width: 20em;
		height: 35em;
	}

	section {
		width: 20em;
		padding-right: 1em;
	}
}

/* dark mode */
@media (prefers-color-scheme: dark) {

	:root {
		--color-white: #808080;
		--color-background: #393939;
		--color-pink: #1a1f47;
		--color-text: #ffffff;
		--color-scrollbar-track: #4a4a4a;
		--color-scrollbar-thumb-hover: #656565;
	}
}